.radioButton {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.radioButton:checked {
  border: 0.3rem solid yellow;
}

.options {
  border: none;
}