.exerciseTheme__container {
    display: grid;
    grid-template-columns: repeat(5, 6em);
    grid-template-rows: repeat(5, 4em);
    color: red;
    border: 0.13rem solid #E6E0E9;
    border-radius: 0.5rem;
    /*grid-auto-columns: 1fr;*/
    /*gap: 0px 0px;*/
    grid-auto-flow: row;
    grid-template-areas:
    ". . top . ."
    ". . topClick . ."
    "left leftClick center rightClick right"
    ". . bottomClick . ."
    ". . bottom . .";
}

.exerciseTheme__top {
    grid-area: top;
}

.exerciseTheme__topClick {
    grid-area: topClick;
}

.exerciseTheme__center {
    grid-area: center;
}

.exerciseTheme__bottomClick {
    grid-area: bottomClick;
}


.exerciseTheme__bottom {
    grid-area: bottom;
}

.exerciseTheme__right {
    grid-area: right;
}

.exerciseTheme__rightClick {
    grid-area: rightClick;
}

.exerciseTheme__leftClick {
    grid-area: leftClick;
}

.exerciseTheme__left {
    grid-area: left;
}

[class*="Click"] {
    background: green;
}
