.exerciseTheme__container {
    display: grid;
    grid-template-columns: repeat(5, 6em);
    grid-template-rows: repeat(5, 4em);
    color: red;
    border: 0.13rem solid #E6E0E9;
    border-radius: 0.5rem;
    /*grid-auto-columns: 1fr;*/
    /*gap: 0px 0px;*/
    grid-auto-flow: row;
    grid-template-areas:
    ". . top . ."
    ". . topRadio . ."
    "left leftRadio center rightRadio right"
    ". . bottomRadio . ."
    ". . bottom . .";
}

.exerciseTheme__top {
    grid-area: top;
}

.exerciseTheme__topRadio {
    grid-area: topRadio;
}

.exerciseTheme__center {
    grid-area: center;
}

.exerciseTheme__bottomRadio {
    grid-area: bottomRadio;
}


.exerciseTheme__bottom {
    grid-area: bottom;
}

.exerciseTheme__right {
    grid-area: right;
}

.exerciseTheme__rightRadio {
    grid-area: rightRadio;
}

.exerciseTheme__leftRadio {
    grid-area: leftRadio;
}

.exerciseTheme__left {
    grid-area: left;
}

/*TODO 1 Draw top/bottom/left/right Pointers */
/*TODO 2  Draw center Pointer*/
/*TODO 3  Draw horizontal arrows*/

[class*="Radio"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
}
