.exerciseDirection__container {
    display: grid;
    grid-template-columns: 2em 7em 2em 7em 2em;
    grid-template-rows: 2em 3em 2em 3em 2em;
    color: red;
    border: 0.13rem solid #E6E0E9;
    border-radius: 0.5rem;
    /*grid-auto-columns: 1fr;*/
    gap: 0.375em;
    grid-auto-flow: row;
    grid-template-areas:
    ". . top . ."
    ". . topRadio . ."
    "left leftRadio center rightRadio right"
    ". . bottomRadio . ."
    ". . bottom . .";
}

.exerciseDirection__top {
    grid-area: top;
}

.exerciseDirection__topRadio {
    grid-area: topRadio;
}

.exerciseDirection__center {
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exerciseDirection__pointer {
    background: green;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.exerciseDirection__pointer--black {
    background: black !important;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.exerciseDirection__bottomRadio {
    grid-area: bottomRadio;
}


.exerciseDirection__bottom {
    grid-area: bottom;
}

.exerciseDirection__right {
    grid-area: right;
}

.exerciseDirection__rightRadio {
    grid-area: rightRadio;
}

.exerciseDirection__leftRadio {
    grid-area: leftRadio;
}

.exerciseDirection__left {
    grid-area: left;
}
/*Temporarily dev helper*/
[class*="Radio"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
