.App {
  background: rgba(0,0,0,0.89);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pause {
  animation-play-state: paused;
}

.running {
  animation-play-state: running;
}