.App {
  background: rgba(0,0,0,0.89);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.controllers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.pause {
  animation-play-state: paused;
}

.running {
  animation-play-state: running;
}

.toggleSettingsButton {
  position: absolute;
  bottom: 1rem;
}
