body {
    display: flex;
    margin: auto;
    justify-content: center;
/*https://css-tricks.com/six-tips-for-better-web-typography/https://css-tricks.com/six-tips-for-better-web-typography/*/
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}