:root {
    --pointer-size: 175px;
}

@keyframes bounce {
    0% {
        margin-left: calc(100% - var(--pointer-size))
    }
    100% {
        margin-left: calc(-100% + var(--pointer-size))
    }
}
.Pointer {
  background-color:red;
  height:var(--pointer-size);
    width:var(--pointer-size);
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;

}

 .bounce {
     animation: 50s linear 1s infinite alternate none running bounce;
 }

