@keyframes bounce {
    0% {
        transform: translateX(-100vh);
    }
    50% {
        transform: translateX(100vh);
    }
    100% {
        transform: translateX(-100vh);
    }
}
.Pointer {
  background-color:red;
  height:175px;
    width:175px;

  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;

}

 .bounce {
     animation: bounce 30s infinite linear;
 }

