:root {
    --pointer-size: 175px;
    --animation-duration: 15s;
}

@keyframes both {
    0% {
        margin-left: calc(100% - var(--pointer-size))
    }
    100% {
        margin-left: calc(-100% + var(--pointer-size))
    }
}

@keyframes left {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: calc(-100% + var(--pointer-size));
    }
}

@keyframes right {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: calc(100% - var(--pointer-size));
    }
}

.Pointer {
    height: var(--pointer-size);
    width: var(--pointer-size);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.animatePointer {
    /*animation-name: justLeft;*/
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: var(--animation-duration);
    animation-delay: calc(-1 * var(--animation-duration) / 2);
}
