.pointerDirection__container {
    display: grid;
    grid-template-columns: 2em 7em 2em 7em 2em;
    grid-template-rows: 2em 3em 2em 3em 2em;
    color: red;
    border: 0.13rem solid #E6E0E9;
    border-radius: 0.5rem;
    /*grid-auto-columns: 1fr;*/
    gap: 0.375em;
    grid-auto-flow: row;
    grid-template-areas:
    ". . top . ."
    ". . topPicker . ."
    "left leftPicker center rightPicker right"
    ". . bottomPicker . ."
    ". . bottom . .";
}

.pointerDirection__top {
    grid-area: top;
}

.pointerDirection__topPicker {
    grid-area: topPicker;
}

.pointerDirection__center {
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointerDirection__pointer {
    background: green;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.pointerDirection__pointer--black {
    background: black !important;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.pointerDirection__bottomPicker {
    grid-area: bottomPicker;
}


.pointerDirection__bottom {
    grid-area: bottom;
}

.pointerDirection__right {
    grid-area: right;
}

.pointerDirection__rightPicker {
    grid-area: rightPicker;
}

.pointerDirection__leftPicker {
    grid-area: leftPicker;
}

.pointerDirection__left {
    grid-area: left;
}
/*Temporarily dev helper*/
[class*="Picker"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
